@background-color: #2b2b2b;
@builtin-color: #da4939;
@comment-color: #bc9458;
@constant-decl-color: #da4939;
@deleted-bg-color: #600;
@diff-bg-color: #2f33ab;
@error-color: red;
@foreground-color: #e6e1dc;
@function-color: #ffc66d;
@inserted-bg-color: #144212;
@invalid-bg-color: #900;
@invisible-color: #404040;
@keyword-color: #cc7833;
@line-highlight-color: lighten(@background-color, 8%);
@literal-color: #a5c261;
@literal-escaped-color: #519f50;
@no-color: rgba(0, 0, 0, 0%);
@operator-color: #b0c4de;
@punctuation-color: #b0c4de;
@selection-bg-color: #5a647e;
@symbol-color: #6d9cbe;
@tag-color: #e8bf6a;
@type-color: #6d9cbe;
@variable-color: #d0d0ff;
@warning-color: orange;
@white-color: #fff;
