@import 'colors';

.bold {
  font-weight: bold;
}

.comment {
  font-style: italic;
  color: @comment-color;
}

.constant {
  color: @symbol-color;
}

.constant.language {
  color: @type-color;
}

.constant.numeric {
  color: @literal-color;
}

.constant.variable.java {
  color: @variable-color;
}

.constant.character.escaped, .constant.character.escape {
  color: @literal-escaped-color;
}

.editor, .editor .gutter, .zen .panes .pane {
  background-color: @background-color;
  color: @foreground-color;
}

.editor.is-focused {
  .cursor {
    border-color: @white-color;
  }

  .line.cursor-line {
    background-color: @line-highlight-color;
  }

  .line-number.cursor-line-no-selection {
    background-color: @line-highlight-color;
  }

  .selection {
    .region {
      background-color: @selection-bg-color;
      opacity: 0.88;
    }
  }
}

.entity.name {
  color: @white-color;
}

.entity.name.function, .keyword.other.name-of-parameter.objc {
  color: @function-color;
}

.git-commit.line-too-long.deprecated {
  background: @no-color;
  color: @warning-color;
}

.git-commit.line-too-long.illegal {
  background: @no-color;
  color: @error-color;
}

.git-config.subsection {
  color: @literal-color;
}

.invalid {
  background-color: @invalid-bg-color;
  color: contrast(@invalid-bg-color);
}

.invisible-character {
  color: @invisible-color;
}

.italic {
  font-style: italic;
}

.keyword {
  color: @keyword-color;
}

.keyword.operator {
  color: @operator-color;
}

.link {
  color: @literal-color;
}

.link .entity {
  color: @symbol-color;
}

.markup.deleted {
  color: contrast(@deleted-bg-color, #000, @foreground-color);
  background-color: @deleted-bg-color;
}

.markup.heading {
  color: @tag-color;
}

.markup.inserted {
  color: contrast(@inserted-bg-color, #000, @foreground-color);
  background-color: @inserted-bg-color;
}

.markup.raw {
  color: @literal-color;
}

.markup.underline.link.gfm {
  color: @variable-color;
}

.meta.diff.header, .meta.separator.diff, .meta.diff.index, .meta.diff.range {
  background-color: @diff-bg-color;
}

.meta.tag, .declaration.tag, .entity.name.tag, .entity.other.attribute-name {
  color: @tag-color;
}

.punctuation.section.embedded, .punctuation.section.embedded .source.ruby {
  color: @punctuation-color;
}

.storage {
  color: @keyword-color;
}

.storage.type {
  color: @type-color;
}

.storage.modifier.import.java {
  color: @type-color;
}

.string {
  color: @literal-color;
}

.string .source, .string .source.ruby {
  color: @literal-escaped-color;
}

.support.function {
  color: @builtin-color;
}

.support.type {
  color: @type-color;
}

.support.constant {
  color: @literal-color;
}

.variable, .variable.language, .variable.other {
  color: @variable-color;
}

.variable.other.constant {
  color: @constant-decl-color;
}

// --- Non-syntax Editor Styles ---

@-webkit-keyframes flash {
  from {
    background-color: @syntax-selection-flash-color;
  }

  to {
    background-color: null;
  }
}

.editor .flash.selection .region {
  -webkit-animation-name: flash;
  -webkit-animation-duration: 1.0s;
  -webkit-animation-iteration-count: 1;
}
